[submodule "Ruby/Rails/rails-heroku"]
	path = Ruby/Rails/rails-heroku
	url = git@github.com:lsfernandes92/rails-heroku.git
[submodule "Ruby/Rails/toy-app"]
	path = Ruby/Rails/toy-app
	url = git@github.com:lsfernandes92/toy-app.git
[submodule "Ruby/Rails/API/notebook-api"]
	path = Ruby/Rails/API/notebook-api
	url = git@github.com:lsfernandes92/notebook-api.git
[submodule "Docker/dockerizando_rails"]
	path = Docker/dockerizando_rails
	url = git@github.com:lsfernandes92/dockerizando_rails.git
[submodule "Ruby/Rails/sample_app"]
	path = Ruby/Rails/sample_app
	url = git@github.com:lsfernandes92/sample_app.git
[submodule "Ruby/Rails/tiodopave"]
	path = Ruby/Rails/tiodopave
	url = git@github.com:lsfernandes92/tiodopave.git
[submodule "Ruby/Rails/mini_hackernews"]
	path = Ruby/Rails/mini_hackernews
	url = https://github.com/lsfernandes92/mini_hackernews.git
[submodule "Ruby/Rails/re-former"]
	path = Ruby/Rails/re-former
	url = https://github.com/lsfernandes92/re-former.git
[submodule "Ruby/ruby-intro"]
	path = Ruby/ruby-intro
	url = https://github.com/lsfernandes92/ruby-intro.git
[submodule "Ruby/Rails/lojadecamisetas"]
	path = Ruby/Rails/lojadecamisetas
	url = https://github.com/lsfernandes92/lojadecamisetas.git
[submodule "Ruby/Rails/private-events"]
	path = Ruby/Rails/private-events
	url = https://github.com/lsfernandes92/private-events.git
[submodule "Ruby/Rails/friendly-couscous"]
	path = Ruby/Rails/friendly-couscous
	url = git@github.com:lsfernandes92/friendly-couscous.git
[submodule "Ruby/Rails/studious-couscous"]
	path = Ruby/Rails/studious-couscous
	url = git@github.com:lsfernandes92/studious-couscous.git
[submodule "Ruby/Rails/legendary-couscous"]
	path = Ruby/Rails/legendary-couscous
	url = git@github.com:lsfernandes92/legendary-couscous.git
[submodule "Ruby/Rails/API/potential-system"]
	path = Ruby/Rails/API/potential-system
	url = git@github.com:lsfernandes92/potential-system.git
[submodule "Ruby/Rails/API/reimagined-invention"]
	path = Ruby/Rails/API/reimagined-invention
	url = git@github.com:lsfernandes92/reimagined-invention.git
[submodule "JavaScript/js-intro"]
	path = JavaScript/js-intro
	url = git@github.com:lsfernandes92/js-intro.git
[submodule "JavaScript/byte-bank"]
	path = JavaScript/byte-bank
	url = git@github.com:lsfernandes92/byte-bank.git
[submodule "Architecture/twelve-factor-app"]
	path = Architecture/twelve-factor-app
	url = git@github.com:lsfernandes92/twelve-factor-app.git
[submodule "Ruby/Rails/curly-fiesta"]
	path = Ruby/Rails/curly-fiesta
	url = git@github.com:lsfernandes92/curly-fiesta.git
[submodule "Ruby/Rails/psychic-octo-funicular"]
	path = Ruby/Rails/psychic-octo-funicular
	url = git@github.com:lsfernandes92/psychic-octo-funicular.git
[submodule "JavaScript/aluramidi"]
	path = JavaScript/aluramidi
	url = git@github.com:lsfernandes92/aluramidi.git
[submodule "JavaScript/fokus"]
	path = JavaScript/fokus
	url = git@github.com:lsfernandes92/Fokus.git
[submodule "JavaScript/secret-number"]
	path = JavaScript/secret-number
	url = https://github.com/lsfernandes92/secret-number
